/* @import '@fontsource/inter/variable.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* font-family: 'Press Start 2P', system-ui; */
    /* font-family: 'Abel', sans-serif; */

    /* font-family: 'Inter Variable', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
  
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}